In [1]:
import sqlalchemy
import pandas as pd
import json

In [2]:
with open("sample.json","r") as f:
    data = json.load(f)

df = pd.DataFrame(columns = data['cols'])
for d in data['data']:
    df.loc[len(df)] = d
print(df)

    id             name                      email      postalZip  \
0    1    Alice Johnson            alice@yahoo.com          12345
1    2        Bob Smith            bob@outlook.com          67890
2    3    Charlie Brown        charlie@hotmail.com          AB123
3    4     Diana Prince          diana@company.org          00987
4    5       Ethan Hunt             ethan@mail.com         45XY67
5    6  Fiona Gallagher           fiona@random.net        XY90876
6    7    George Miller           george@custom.co         112233
7    8     Hannah Wells         hannah@yahoo.co.in       ZIP90012
8    9       Ian Curtis              ian@music.org      123ABC456
9   10    Julia Roberts           julia@celebs.net          00000
10  11       Kevin Hart             kevin@funny.tv          75001
11  12     Linda Carter           linda@wonder.org       CA-90210
12  13    Michael Scott  michael@dundermifflin.com  Scranton18503
13  14      Nina Dobrev          nina@hollywood.ca         M5V3L9
14  15      Oscar Wilde          oscar@classics.uk        OX1 3BG

                phone
0      (816) 530-4269
1      1-811-920-9732
2        202-555-0181
3     +44 7700 900123
4        555.123.4567
5      (212)-999-8888
6        001-445-7823
7   +1 (310) 555-7890
8        404.555.1212
9        987-654-3210
10     (555) 000-9999
11        777 888 999
12       570-555-1234
13    +1-647-123-9876
14    +44 1865 123456

In [3]:
conn = sqlalchemy.create_engine('mysql+mysqlconnector://root:root@localhost:3306/testdb?use_pure=True')

In [4]:
df.to_sql(name='json_to_sql_table', con=conn, if_exists='replace', index=False)
print("Data inserted successfully into the database table.")

Data inserted successfully into the database table.

1. Unnload the data from sql

In [8]:
del df

NameError: name 'df' is not defined

In [9]:
df = pd.read_sql('json_to_sql_table', con=conn, dtype={'postal_code': str})

2. write a program to display all data under their respective column name as a pandas dataframe

In [10]:
print(df)

    id             name                      email      postalZip  \
0    1    Alice Johnson            alice@yahoo.com          12345
1    2        Bob Smith            bob@outlook.com          67890
2    3    Charlie Brown        charlie@hotmail.com          AB123
3    4     Diana Prince          diana@company.org          00987
4    5       Ethan Hunt             ethan@mail.com         45XY67
5    6  Fiona Gallagher           fiona@random.net        XY90876
6    7    George Miller           george@custom.co         112233
7    8     Hannah Wells         hannah@yahoo.co.in       ZIP90012
8    9       Ian Curtis              ian@music.org      123ABC456
9   10    Julia Roberts           julia@celebs.net          00000
10  11       Kevin Hart             kevin@funny.tv          75001
11  12     Linda Carter           linda@wonder.org       CA-90210
12  13    Michael Scott  michael@dundermifflin.com  Scranton18503
13  14      Nina Dobrev          nina@hollywood.ca         M5V3L9
14  15      Oscar Wilde          oscar@classics.uk        OX1 3BG

                phone
0      (816) 530-4269
1      1-811-920-9732
2        202-555-0181
3     +44 7700 900123
4        555.123.4567
5      (212)-999-8888
6        001-445-7823
7   +1 (310) 555-7890
8        404.555.1212
9        987-654-3210
10     (555) 000-9999
11        777 888 999
12       570-555-1234
13    +1-647-123-9876
14    +44 1865 123456

3. write a program to change all email address to have the format
abc@gmail.com (note the ending should be gmail.com)

In [12]:
df['email'] = df['email'].apply(lambda x: x.split('@')[0] + '@gmail.com')
df

    id             name              email      postalZip              phone
0    1    Alice Johnson    alice@gmail.com          12345     (816) 530-4269
1    2        Bob Smith      bob@gmail.com          67890     1-811-920-9732
2    3    Charlie Brown  charlie@gmail.com          AB123       202-555-0181
3    4     Diana Prince    diana@gmail.com          00987    +44 7700 900123
4    5       Ethan Hunt    ethan@gmail.com         45XY67       555.123.4567
5    6  Fiona Gallagher    fiona@gmail.com        XY90876     (212)-999-8888
6    7    George Miller   george@gmail.com         112233       001-445-7823
7    8     Hannah Wells   hannah@gmail.com       ZIP90012  +1 (310) 555-7890
8    9       Ian Curtis      ian@gmail.com      123ABC456       404.555.1212
9   10    Julia Roberts    julia@gmail.com          00000       987-654-3210
10  11       Kevin Hart    kevin@gmail.com          75001     (555) 000-9999
11  12     Linda Carter    linda@gmail.com       CA-90210        777 888 999
12  13    Michael Scott  michael@gmail.com  Scranton18503       570-555-1234
13  14      Nina Dobrev     nina@gmail.com         M5V3L9    +1-647-123-9876
14  15      Oscar Wilde    oscar@gmail.com        OX1 3BG    +44 1865 123456

4. Normalise the data types of the postal code column to integer

In [14]:
df.dtypes

id            int64
name         object
email        object
postalZip    object
phone        object
dtype: object

In [15]:
def convert_postal_code(pc):
    res=''
    for i in pc:
        if i.isdigit():
            res += i
    return int(res)

In [16]:
df['postalZip'] = df['postalZip'].apply(lambda x: int(x) if x.isdigit() else convert_postal_code(x))
print(df['postalZip'])

0      12345
1      67890
2        123
3        987
4       4567
5      90876
6     112233
7      90012
8     123456
9          0
10     75001
11     90210
12     18503
13       539
14        13
Name: postalZip, dtype: int64

5. Coding phone numbers

In [19]:
def coding_phnnums(phn):
    cleaned_num = ''
    res=''
    for i in phn:
        if i.isdigit():
            cleaned_num += i
    for i in range(0, len(cleaned_num)-1, 2):
        sub = cleaned_num[i:i+2]
        if int(sub) < 65 :
            res += 'O'
        else:
            res += chr(int(sub))
    return res

In [ ]:
df['phone'] = df['phone'].apply(coding_phnnums)
df.rename({'phone':'code_phone_number'}, inplace=True)

In [21]:
df

    id             name              email  postalZip code_phone_number
0    1    Alice Johnson    alice@gmail.com      12345             QAOOE
1    2        Bob Smith      bob@gmail.com      67890             OO\OI
2    3    Charlie Brown  charlie@gmail.com        123             OOOOQ
3    4     Diana Prince    diana@gmail.com        987            OMOZOO
4    5       Ethan Hunt    ethan@gmail.com       4567             OOOOC
5    6  Fiona Gallagher    fiona@gmail.com      90876             OOcXX
6    7    George Miller   george@gmail.com     112233             OOONO
7    8     Hannah Wells   hannah@gmail.com      90012             OOOOY
8    9       Ian Curtis      ian@gmail.com     123456             OOOOO
9   10    Julia Roberts    julia@gmail.com          0             bLOOO
10  11       Kevin Hart    kevin@gmail.com      75001             OOOcc
11  12     Linda Carter    linda@gmail.com      90210              MNXc
12  13    Michael Scott  michael@gmail.com      18503             OOOOO
13  14      Nina Dobrev     nina@gmail.com        539             OOOOW
14  15      Oscar Wilde    oscar@gmail.com         13            OOAOOO